<img style="float: left; margin: 30px 15px 15px 15px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFzQj91sOlkeDFkg5HDbjtR4QJYmLXkfMNig&usqp=CAU" width="400" height="500" /> 
    
    
### <font color='navy'> Simulación matemática. 

**Nombres:** María del Carmen Martínez Hernández.

**Fecha:** 14 de noviembre del 2022.

**Expediente** : NT729340.
    
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: 

# Tarea 8: Clase 18

## TAREA 8
> - Consultar tasas de interés reales en algún banco y proyectar un ahorro mensual para que al terminar su carrera tengan $\$85000$ MXN en su cuenta.

In [34]:
# importar librerías para análisis de datos y manipulación de fechas
import pandas as pd
import numpy as np
from datetime import date
import numpy_financial as npf

In [35]:
# establecer los datos para la cuenta de ahorro
tasa_interes = 0.04
years = 5
Abono_year = 12
inicial = 10000
meta = 85000
fecha_inicio = (date(2019,1,1))

In [36]:
# Realizar el cálculo de abonos mensuales iguales para llegar a la meta de ahorro en el tiempo deseado
Abono = -npf.pmt(tasa_interes/Abono_year,years*Abono_year,(meta-inicial))
Abono

1381.239154144948

In [37]:
# calcular el periodo
periodo = 50

# calcular el interés
ipmt = npf.ipmt(tasa_interes/Abono_year, periodo, years*Abono_year, (meta-inicial))

#calcular el inicial
ppmt = npf.ppmt(tasa_interes/Abono_year, periodo, years*Abono_year, (meta-inicial))

print (ipmt, ppmt)

-49.64698884058783 -1331.5921653043602

In [38]:
# Estimar el rango de fechas en la tabla
rng = pd.date_range(fecha_inicio, periods= years * Abono_year, freq='M')
rng.name = 'Fecha del abono'

# Establecer columnas de abonos y extracto de cuenta en las fechas respectivas
df = pd.DataFrame(index = rng, columns = ['Abono','Balance'],dtype='float')

# Colocar el índice con los periodos y no con las fechas
df.reset_index(inplace=True)

df.index+=1
df.index.name='Periodo'
df

        Fecha del abono  Abono  Balance
Periodo
1            2019-01-31    NaN      NaN
2            2019-02-28    NaN      NaN
3            2019-03-31    NaN      NaN
4            2019-04-30    NaN      NaN
5            2019-05-31    NaN      NaN
6            2019-06-30    NaN      NaN
7            2019-07-31    NaN      NaN
8            2019-08-31    NaN      NaN
9            2019-09-30    NaN      NaN
10           2019-10-31    NaN      NaN
11           2019-11-30    NaN      NaN
12           2019-12-31    NaN      NaN
13           2020-01-31    NaN      NaN
14           2020-02-29    NaN      NaN
15           2020-03-31    NaN      NaN
16           2020-04-30    NaN      NaN
17           2020-05-31    NaN      NaN
18           2020-06-30    NaN      NaN
19           2020-07-31    NaN      NaN
20           2020-08-31    NaN      NaN
21           2020-09-30    NaN      NaN
22           2020-10-31    NaN      NaN
23           2020-11-30    NaN      NaN
24           2020-12-31    NaN      NaN
25           2021-01-31    NaN      NaN
26           2021-02-28    NaN      NaN
27           2021-03-31    NaN      NaN
28           2021-04-30    NaN      NaN
29           2021-05-31    NaN      NaN
30           2021-06-30    NaN      NaN
31           2021-07-31    NaN      NaN
32           2021-08-31    NaN      NaN
33           2021-09-30    NaN      NaN
34           2021-10-31    NaN      NaN
35           2021-11-30    NaN      NaN
36           2021-12-31    NaN      NaN
37           2022-01-31    NaN      NaN
38           2022-02-28    NaN      NaN
39           2022-03-31    NaN      NaN
40           2022-04-30    NaN      NaN
41           2022-05-31    NaN      NaN
42           2022-06-30    NaN      NaN
43           2022-07-31    NaN      NaN
44           2022-08-31    NaN      NaN
45           2022-09-30    NaN      NaN
46           2022-10-31    NaN      NaN
47           2022-11-30    NaN      NaN
48           2022-12-31    NaN      NaN
49           2023-01-31    NaN      NaN
50           2023-02-28    NaN      NaN
51           2023-03-31    NaN      NaN
52           2023-04-30    NaN      NaN
53           2023-05-31    NaN      NaN
54           2023-06-30    NaN      NaN
55           2023-07-31    NaN      NaN
56           2023-08-31    NaN      NaN
57           2023-09-30    NaN      NaN
58           2023-10-31    NaN      NaN
59           2023-11-30    NaN      NaN
60           2023-12-31    NaN      NaN

In [39]:
npf.ppmt(tasa_interes/Abono_year, 1, years * Abono_year, Abono)

-20.833490832090863

In [33]:
# Los abonos son iguales
df['Abono'] = Abono

# Vector indizador de los periodos de los abonos
index_vector = np.arange(1,len(rng)+1)

# Extracto de la cuenta mes a mes
df["Balance"] = inicial * (1 + tasa_interes/Abono_year)**index_vector + \
                Abono * (((1 + tasa_interes/Abono_year)**index_vector - 1)/(tasa_interes/Abono_year))

df

        Fecha del abono        Abono       Balance
Periodo
1            2018-01-31  1693.429098  11726.762431
2            2018-02-28  1693.429098  13459.280738
3            2018-03-31  1693.429098  15197.574105
4            2018-04-30  1693.429098  16941.661783
5            2018-05-31  1693.429098  18691.563087
6            2018-06-30  1693.429098  20447.297396
7            2018-07-31  1693.429098  22208.884152
8            2018-08-31  1693.429098  23976.342864
9            2018-09-30  1693.429098  25749.693105
10           2018-10-31  1693.429098  27528.954513
11           2018-11-30  1693.429098  29314.146793
12           2018-12-31  1693.429098  31105.289714
13           2019-01-31  1693.429098  32902.403111
14           2019-02-28  1693.429098  34705.506886
15           2019-03-31  1693.429098  36514.621008
16           2019-04-30  1693.429098  38329.765509
17           2019-05-31  1693.429098  40150.960492
18           2019-06-30  1693.429098  41978.226125
19           2019-07-31  1693.429098  43811.582644
20           2019-08-31  1693.429098  45651.050351
21           2019-09-30  1693.429098  47496.649617
22           2019-10-31  1693.429098  49348.400880
23           2019-11-30  1693.429098  51206.324648
24           2019-12-31  1693.429098  53070.441495
25           2020-01-31  1693.429098  54940.772065
26           2020-02-29  1693.429098  56817.337070
27           2020-03-31  1693.429098  58700.157291
28           2020-04-30  1693.429098  60589.253580
29           2020-05-31  1693.429098  62484.646857
30           2020-06-30  1693.429098  64386.358112
31           2020-07-31  1693.429098  66294.408403
32           2020-08-31  1693.429098  68208.818863
33           2020-09-30  1693.429098  70129.610690
34           2020-10-31  1693.429098  72056.805158
35           2020-11-30  1693.429098  73990.423606
36           2020-12-31  1693.429098  75930.487450
37           2021-01-31  1693.429098  77877.018173
38           2021-02-28  1693.429098  79830.037331
39           2021-03-31  1693.429098  81789.566554
40           2021-04-30  1693.429098  83755.627541
41           2021-05-31  1693.429098  85728.242064
42           2021-06-30  1693.429098  87707.431969
43           2021-07-31  1693.429098  89693.219174
44           2021-08-31  1693.429098  91685.625669
45           2021-09-30  1693.429098  93684.673519
46           2021-10-31  1693.429098  95690.384862
47           2021-11-30  1693.429098  97702.781910
48           2021-12-31  1693.429098  99721.886948

**Conclusión:** No es posible alcanzar dicho objetivo del ahorro de $85000 $ MXN debido a que la funcion se limita a pago de deudas y no cubre cuentas de ahorro. Es por esto que incluso con informacion extraida de otras fuentes de bancos reales, es imposible llegar a la meta establecida ya que el interés decrece pues toma a los $85000 $ como el préstamo y no la meta. 

Finalmente, esto nos sirve para darnos cuenta de que pese a que en ocasiones podremos obtener respuestas matemáticas, los números por sí solos no son de gran utilidad si no son respaldados por un verdadero sentido lógico.